    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light main-menu">
      <a class="navbar-brand" href="/">
        <img src="img/logo.png" width="130">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-container">
        <i class="fa fa-bars menu"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbar-container">
      <ul class="navbar-nav ml-auto">
        <li>
          <a href="offer-seats">
            <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Offer a ride</button>
          </a>
        </li>
        <li>
          <a href="register">
            <button type="button" class="btn btn-primary"><i class="fa fa-user"></i> Register</button>
          </a>
        </li>
        <li>
          <a href="login">
            <button type="button" class="btn btn-primary"><i class="fa fa-sign-in"></i> SignIn</button>
          </a>
        </li>
      </ul>
      </div>
    </nav>